/*!*************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[1].use[1]!./node_modules/postcss-loader/dist/cjs.js!./node_modules/sass-loader/dist/cjs.js!./src/styles/main.scss ***!
  \*************************************************************************************************************************************************************************************/
html {
  height: 100%;
  box-sizing: border-box;
  font-size: 100%; }

*, *:before, *:after {
  box-sizing: inherit; }

body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  font-family: 'Noto Sans', sans-serif;
  font-family: 'Public Sans', sans-serif;
  font-weight: 400;
  color: #000000; }

h1, h2, h3, h4, h5 {
  margin: 0;
  padding: 0; }

.main {
  width: 100%;
  height: 100%;
  background-color: #f5f3f4; }
  .main__container {
    width: 100%;
    height: 100%;
    position: relative; }
    .main__container .main__qrscanner {
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
      width: 380px;
      height: 550px; }
      .main__container .main__qrscanner .main__video {
        border: 5px solid #82c0cc; }
      .main__container .main__qrscanner button {
        position: fixed;
        bottom: 5px;
        left: 0;
        right: 0;
        width: 100%;
        height: 40px;
        border: none;
        outline: none;
        font-size: 16px;
        background-color: #82c0cc;
        color: #2d3142;
        border-radius: 10px;
        cursor: pointer; }

